body {
    background-image: linear-gradient(to bottom right, rgb(235, 201, 253), rgb(220, 255, 188));
    margin:0px;
    font-family: sans-serif;
    overflow-x: hidden;
}

.score_table{
    width: 100px;
    height:50px;
    margin: auto;
margin-top:20px;
background-color: #DAF7A6 ;
}
.span{
    text-align: center;

}
.game{
    margin:50px;
    border: 2px solid black;
    margin: auto;
    margin-top:20px;
    display: block;
    place-items: center;   
}




.highscore_table
{
    margin-left: auto;
    margin-right: auto ;
    margin-bottom: 10%;

        width: 50%;
    border-collapse: collapse;
    border:2px solid black;
}

th{
    height:50px;
    border:2px solid black;
    width: 50%;
    background-color:#85C1E9;

}

tr:nth-child(even){
    background-color: #DAF7A6;

}
tr{
    background-color: #F4D03F;

}
td{
    border-right:2px solid black;
    text-align: center;
}