body {
    background-image: linear-gradient(to bottom right, rgb(235, 201, 253), rgb(214, 234, 248));

    font-family: sans-serif;
    margin:0px;

}

/* Fill button styling */
.fill {
    font-size: 18px;
    font-weight: 150;
    letter-spacing: 1px;
    padding: 5px 45px 5px;
    outline: 0;
    border: 2px solid #134c81;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    margin-left: 10%;;
}

.fill::after {
    content: "";
    background-color: #0074e0;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.fill:hover::after {
    top: 0px;
    left: 0px;
}
  /* End of Fill Button  */


div.box1{
    position: sticky;
    top: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    box-sizing: border-box;
    padding: 1.5%;
    z-index: 10;
    background-color: rgb(34, 34, 34);
    /*background-image: url("/Img/web/istockphoto-1062387152-612x612.jpg");*/
}

img.img {
    max-width: 100%;
    max-height: 100%;
}

div.img {
    height: 50px;
    width: auto;
}

div.imglist {
    display: flex;
    justify-content: center;
    height: 90%;
    border-style: double;
    border-color: rgb(160, 12, 24);
}

div.imgbanner {
    height: 400px;
    width: 220px;
    padding: 2%;
    margin-left: 5%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

div.description {
    height: auto;
    padding: 2%;
    border-style: double;
    border-color: rgb(160, 12, 24);
}


div.classLogin {
    display: flex;
    align-items: center;
    height: auto;
    margin-right: 5%;
}

div.classProfile {
    display: flex;
    align-items: center;
    height: auto;
    margin-right: 5%;
}

.input-group-prepend span{
    width: 50px;
    background-color: #ffd147;
    color: black;
    border: 0 !important;
}

.logspace {
    margin-right: 8px;
}

.logspace2 {
    width: 500px;
    margin-right: 8px;
}


div.box2 {
    display: flex;
    align-items: flex-start;
    width: 100%;
    z-index: -1;
    justify-content: space-evenly;
}

.block1 {
    display: inline-block;
    width: 13%;
    height: auto;
    /*background-color:aqua;*/
}

.row {
    padding-top: 10px;
    padding-bottom: 10px;
}

.block2 {
    /*display: inline-block;*/
    width: 63%;
    height: auto;
    /*background-color:black;*/
}

.block3 {
    position: sticky;
    top: 12%;
    display: inline-block;
    width: 24%;
    height: auto;
    /*background-color:blueviolet;*/
}

.game_image{
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height:100px;
    min-width: 150px;
    width:30vw;
    padding-top:100%;
}



@media only screen and (max-width: 600px) {
    div.block3{
        visibility: hidden;
        width: 0%;
    }
    .block2{
        width: 90%;
    }
    
  }
/*añadir media query*/